:root {
    --mainColor: #1a1a1a;
    --mainFont: 'Oxanium', sans-serif;
    --subColor: #ff7a21;
}

body {
    background-color: var(--mainColor);
}

a {
    text-decoration: none;
}

.mainColor {
    color: var(--mainColor);
}

.bg-mainColor {
    background-color: var(--mainColor);
}

.mainFont {
    font-family: var(--mainFont);
}

/* Start Navbar */
.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: var(--subColor);
}

.navbar-nav .nav-item:last-of-type span {
    color: var(--subColor);
}

.navbar .navbar-nav .dropdown-menu {
    background-color: var(--mainColor);
}

.navbar .navbar-nav button {
    background-color: var(--mainColor);
    border: none;
}

.navbar .navbar-nav .dropdown-menu a {
    color: #a6a6a6;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

@media screen and (max-width:1200px) {
    .navbar {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .navbar-nav .nav-link {
        font-size: 12px;
    }

    .navbar-toggler {
        background-color: #f1eded;
    }
}

@media screen and (max-width:996px) {
    .navbar-nav {
        gap: 2px !important;
    }

    .navbar .nav-footer {
        flex-direction: row;
        gap: 10px !important;
    }
}

/* End Vavbar */
/* Start Header */
.swiper {
    height: 100vh;
}

.header .swiper-slide.img1 {
    background-image: url(./../img/header/main-banner-1.webp);
    background-size: cover;
    background-position: center;
}

.header .swiper-slide.img2 {
    background-image: url(./../img/header/main-banner-2.webp);
    background-size: cover;
    background-position: center;
}

.header img {
    width: 100%;
    height: 100%;
}

.header .header-content span {
    color: #ffffff;
    letter-spacing: 0;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.header .header-content h1 {
    font-size: 56px;
    color: #ffffff;
    font-family: var(--mainFont);
}

.header .header-content a {
    background-color: var(--subColor);
    padding: 13px 33px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: .5px;
    font-family: 'Poppins', sans-serif;
}

.header .swiper-button-next,
.header .swiper-button-prev {
    background-color: #ffffff;
    padding: 20px;
    color: #000000;
    position: absolute;
}

.header .swiper-button-next {
    right: -100px;
    transition: 0.5s;
}

.header .swiper-button-prev {
    left: -100px;
    transition: 0.5s;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px;
}

.swiper-button-next::before,
.swiper-button-prev::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 120%;
    height: 120%;
    border: 2px solid white;
}

.header:hover .swiper-button-next {
    right: 100px;
    transition: 0.5s;
}

.header:hover .swiper-button-prev {
    left: 100px;
    transition: 0.5s;
}

.swiper-pagination-bullet-active {
    background-color: var(--subColor);
}

@media screen and (max-width:768px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .header .header-content h1 {
        font-size: 40px;
    }
}

/* End Header */
/* Start Services */
.services {
    padding-top: 85px;
}

.services .row .before {
    position: relative;
}

.services a:hover i {
    color: var(--subColor);
}

.services .row .before:not(:first-of-type):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    left: 0;
    top: 4px;
    background-color: #313131;
}

.services .service {
    color: #ffffff;
}

.services .service h5 {
    font-size: 15px;
    letter-spacing: .6px;
    font-family: var(--mainFont);
}

.services .service p {
    color: #a6a6a6;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:576px) {
    .services .row {
        row-gap: 25px;
    }
}

/* End Services */
/* Start Banners */
.banners {
    margin-top: 100px;
}

.banners .banner {
    overflow: hidden;
}

.banners img {
    transition: all 3s cubic-bezier(.25, .46, .45, .94);
}

.banners .banner:hover img {
    transform: scale(1.2);
}

.banners .banner span {
    font-size: 22px;
    font-weight: 200;
    font-family: Poppins, sans-serif;

}

.banners .banner h2 {
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Oxanium, sans-serif;
}

.banners .banner a {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 21px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #ffffff;
    color: var(--mainColor);
    padding: 12px 30px;
}

.banners .banner a:hover {
    color: #000000;
    background-color: var(--subColor);
}

.banners .banner .text {
    margin-left: 60%;
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    .banners .banner span {
        font-size: 18px;
    }

    .banners .banner h2 {
        font-size: 25px;
    }

    .banners .banner a {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    .banners .row {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .banners .banner span {
        font-size: 18px;
    }

    .banners .banner h2 {
        font-size: 25px;
    }

    .banners .banner a {
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .banners .banner span {
        font-size: 15px;
    }

    .banners .banner h2 {
        font-size: 21px;
    }

    .banners .banner a {
        font-size: 10px;
    }
}

/* End Banners */
/* Start Special Category */
.special-categorys {
    margin-top: 100px;
}

.special-categorys h2 {
    font-family: var(--mainFont);
    position: relative;
    padding-bottom: 15px;
}

.special-categorys .container-fluid {
    border-bottom: 1px solid #313131;
    padding-bottom: 100px;
}

.special-categorys .category {
    cursor: pointer;
}

.special-categorys h2::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--subColor);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.special-categorys .category .img {
    position: relative;
    overflow: hidden;
}

.special-categorys .category .img::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.shine:hover .img::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.special-categorys .category p {
    font-size: 20px;
    font-family: var(--mainFont);
}

.special-categorys .category a {
    font-family: Poppins, sans-serif;
    color: var(--subColor);
    text-decoration: underline;
}

.special-categorys .category a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .special-categorys .row {
        row-gap: 35px;
    }
}

/* End Special Category */
/* Start Products */
.our-Products {
    margin-top: 100px;
}

.our-Products .title {
    font-family: var(--mainFont);
    position: relative;
    padding-bottom: 15px;
}

.our-Products .title::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--subColor);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.our-Products ul {
    list-style: none;
    color: #ffffff;
}

.our-Products ul li {
    padding: 12px 34px;
    cursor: pointer;
}

.our-Products ul li.active {
    background-color: var(--subColor);
}

.our-Products .product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.our-Products .product .card {
    background-color: transparent;
    border: none;
    position: relative;
}

.our-Products .product .card-body {
    padding-left: 0;
    padding-right: 0;
}

.our-Products .product .card-body .rating i {
    font-size: 13px;
}

.rating-active {
    color: #fcb603;
}

.rating-non-active {
    color: #ccc;
}

.our-Products .product .card-body a {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-family: Poppins, sans-serif;
    letter-spacing: 0.06rem;
}

.our-Products .product .card-body a:hover {
    color: var(--subColor);
}

.our-Products .product .card-body .price {
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: var(--subColor);
}

.our-Products .product .card-body .discount {
    font-size: 16px;
    font-weight: 200;
    font-family: Poppins, sans-serif;
    color: #d9d9d9;
    text-decoration: line-through;
    margin-left: 5px;
}

.our-Products .product .card .icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 8px;
    right: 6px;
    transition: 0.5s;
    cursor: pointer;
}

.our-Products .product .card:hover .icon {
    display: flex;
    transition: 0.5s;
}

.our-Products .product .card .icon i {
    color: #ffffff;
    background-color: var(--mainColor);
    border-radius: 50%;
    padding: 10px;
}

.our-Products .product .card .icon i:hover {
    color: var(--subColor);
}

.our-Products .product .card .icon i.active {
    color: burlywood;
}

.our-Products .modal-dialog {
    max-width: 65%;
}

.our-Products .modal-content {
    background-color: var(--mainColor);
}

.our-Products .modal h2 {
    font-size: 23px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}

.our-Products .modal .price {
    font-size: 22px;
    font-weight: 500;
    color: var(--subColor);
    font-family: Poppins, sans-serif;
}

.our-Products .modal .discount {
    font-size: 22px;
    font-weight: 500;
    color: #a6a6a6;
    text-decoration: line-through;
    font-family: Poppins, sans-serif;
    margin-left: 5px;
}

.our-Products .qv-product-type-title span:first-of-type,
.our-Products .qv-view-vendor-title span:first-of-type,
.our-Products .qv-sku-show span:first-of-type {
    display: inline-block;
    min-width: 110px;
    font-weight: 500;
}

.our-Products .data span {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.our-Products .qv-product-type-title span:last-of-type,
.our-Products .qv-view-vendor-title span:last-of-type,
.our-Products .qv-sku-show span:last-of-type {
    color: #a6a6a6;
}

.our-Products .modal form span {
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    min-width: 110px;
}

.our-Products .modal form select,
.our-Products .modal form input {
    padding: 0px 0.5rem;
    width: 100%;
    height: 40px;
    max-width: 12rem;
    box-sizing: border-box;
    background-color: var(--mainColor);
    color: #ffffff;
    border: 1px solid #313131;
}

.our-Products .modal .item-text button {
    padding: 12px 30px;
    background-color: var(--subColor);
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 21px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    width: 40%;
}

.our-Products .modal-body {
    margin-bottom: 32px;
    border-bottom: 1px solid #dee2e6;
}

@media screen and (max-width: 1300px) {
    .our-Products .modal h2 {
        font-size: 20px;
    }

    .our-Products .modal .price {
        font-size: 19px;
    }

    .our-Products .modal form input,
    .our-Products .modal form select {
        padding: 0px 0.3rem;
        height: 29px;
    }

    .our-Products .modal .item-text button {
        padding: 9px 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px) {
    .our-Products .modal h2 {
        font-size: 17px;
    }

    .our-Products .modal .price {
        font-size: 16px;
    }

    .our-Products .modal form input,
    .our-Products .modal form select {
        padding: 0px 0.3rem;
        height: 20px;
        font-size: 10px;
    }

    .our-Products .modal .item-text button {
        padding: 5px 15px;
        font-size: 10px;
    }

    .our-Products .modal .item-img img {
        height: 420px;
    }
}

@media screen and (max-width: 992px) {
    .our-Products .modal h2 {
        font-size: 17px;
    }

    .our-Products .modal .price {
        font-size: 16px;
    }

    .our-Products .modal form input,
    .our-Products .modal form select {
        padding: 0px 0.3rem;
        height: 20px;
        font-size: 10px;
    }

    .our-Products .modal .item-text button {
        padding: 5px 15px;
        font-size: 10px;
    }

    .our-Products .modal .item-text {
        margin-top: 20px;
    }

    .our-Products .modal .mar {
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #dee2e6;
    }

    .our-Products .modal .item-img img {
        width: 70% !important;
        height: 50%;
    }
}

.our-Products .cart-navbar {
    background-color: var(--mainColor);
    color: #ffffff;
}

.our-Products .cart-navbar .offcanvas-header {
    border-bottom: 1px solid #313131;
}

.our-Products .cart-navbar .offcanvas-title {
    font-size: 18px;
    line-height: 20px;
    font-family: Poppins, sans-serif;
}

.our-Products .cart-navbar .no-more-item .no-cart {
    font-size: 90px;
}

.our-Products .cart-navbar .no-more-item .text {
    font-family: Poppins, sans-serif;
}

.our-Products .cart-navbar .cart-item .img {
    width: 40%;
}

.our-Products .cart-navbar .cart-item .product-item__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-family: Poppins, sans-serif;
}

.our-Products .cart-navbar .cart-item h5 {
    font-size: 14px;
    text-align: left;
}

.our-Products .cart-navbar .cart-item span {
    font-size: 14px;
    color: var(--subColor);
    font-weight: 500;
}

.our-Products .cart-navbar .cart-item i:hover {
    color: var(--subColor);
    cursor: pointer;
}

.d-non {
    display: none !important;
}

@media screen and (max-width: 1450px) {
    .our-Products .product .card {
        width: 18rem !important;
    }
}

@media screen and (min-width:1200px) and (max-width: 1300px) {
    .our-Products .product .card {
        width: 15rem !important;
    }
}

/* End Products */
/* Start Feedback */
.feedback {
    background-image: url(./../img/feedback/testimonial-parallax-bg.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    margin-top: 100px;
}

.feedback .swiper {
    height: auto;
}

.feedback .card {
    background-color: transparent;
    border: none;
    margin: 50px auto;
}

.feedback .card img {
    border: 2px solid var(--subColor);
    width: 90px;
}

.feedback .card .card-text {
    color: #bfbfbf;
    padding: 0 17%;
}

.feedback .card span {
    color: var(--subColor);
    font-family: Oxanium, sans-serif !important;
    font-weight: 600;
    font-size: 15px;
}

.feedback .swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

/* End Feedback */
/* Start countDown */
.countDown {
    margin-top: 100px;
}

.countDown h2 {
    font-family: var(--mainFont);
    position: relative;
    padding-bottom: 15px;
}

.countDown h2::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--subColor);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.countDown .countDown-timer .time {
    border: 1px solid var(--subColor);
    padding: 17px 10px;
    width: 10%;
    text-align: center;
    font-size: 20px;
    font-family: var(--mainFont);
}

@media screen and (max-width:1290px) {
    .countDown .countDown-timer .time {
        font-size: 13px;
    }
}

@media screen and (max-width:992px) {
    .countDown .countDown-timer .time {
        width: calc(100% / 2);
        font-size: 20px;
    }
}

/* End CountDown */
/* Start blog */
.blog {
    margin-top: 100px;
}

.blog h2 {
    font-family: var(--mainFont);
    position: relative;
    padding-bottom: 15px;
}

.blog h2::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--subColor);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.blog .swiper {
    height: auto;
}

.blog .card {
    width: 423px !important;
    background-color: transparent;
    border: none;
}

.blog .card .img {
    overflow: hidden;
}

.blog .card img {
    transform: scale(1);
    transition: .3s ease-in-out
}

.blog .card .img:hover img {
    transform: scale(1.1);
}

.blog .card .date {
    color: #a6a6a6;
    font-family: Poppins, sans-serif;
}

.blog .card .date i {
    color: var(--subColor);
    margin-right: 5px;
}

.blog .card a {
    display: inline-block;
    color: #ffffff;
    font-family: 'Oxanium', sans-serif;
}

.blog .card a:hover {
    color: var(--subColor);
}

@media screen and (max-width: 1350px) {
    .blog .swiper .swiper-slide {
        margin-left: 10px;
    }

    .blog {
        padding: 0 !important;
    }
}

@media screen and (max-width: 1250px) {
    .blog .swiper .swiper-slide {
        display: flex;
        justify-content: center;
        margin-right: 0 !important;
    }
}

/* End blog */
/* Start tm-logo */
.tm-logo {
    margin-top: 100px;
}

.tm-logo .swiper {
    height: auto;
    border-top: 1px solid #313131;
    padding: 82px 0;
}

/* End tm-logo */
/* BUt back to top */
#but {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--subColor);
    color: #ffffff;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: none;
}

/* Start footer */
.footer {
    background-image: url(./../img/footer/footer-parallax_1903x1080.webp);
    background-size: cover;
    background-position: center;
    height: 550px;
}

.footer .card {
    background-color: transparent;
    border: none;
}

.footer .card .card-title {
    color: #ffffff;
}

.footer .card .card-text,
.footer .card .card-text a {
    color: #bfbfbf;
}

.footer .card .card-text i {
    color: var(--subColor);
    margin-right: 5px;
}

.footer .card .card-text a {
    display: block;
}

.footer .card .card-text a:hover {
    color: #f1eded;
}

.footer .card .card-text input[type="email"] {
    height: 45px;
}

.footer .card .card-text .contact i {
    color: #ffffff;
}

.footer .card .card-text .contact a:hover i {
    color: var(--subColor);
}

.footer .card .card-text .form {
    position: relative;
}

.footer .card .card-text .button {
    background: url(./../img/footer/plane.png) no-repeat 10px;
    background-position: center;
    background-size: 20px;
    font-size: 0;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    border: none;
}

.footer .accordion {
    display: none;
}

.footer .accordion .accordion-item,
.footer .accordion .accordion-button {
    background-color: transparent !important;
}

.footer .accordion .accordion-button {
    color: #ffffff;
}

@media screen and (max-width:768px) {
    .footer .accordion {
        display: block;
    }

    .footer .card-group .cardd:not(:last-child) {
        display: none;
    }
}

/* End footer */
/* Loader */
.loader {
    width: 106px;
    height: 56px;
    display: block;
    margin: 30px auto;
    background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), radial-gradient(circle 14px, #FFF 100%, transparent 0);
    background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
    background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border: 6px solid #FFF;
    border-radius: 50%;
    left: -45px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 64px, transparent 0), linear-gradient(#FFF 66px, transparent 0), radial-gradient(circle 4px, #FFF 100%, transparent 0);
    background-size: 40px 1px, 1px 40px, 8px 8px;
    background-position: center center;
    box-sizing: border-box;
    animation: rotation 0.3s linear infinite;
}

.loader::before {
    left: 25px;
    top: 60px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* message */
.message {
    bottom: 15px;
    left: 15px;
    background-color: var(--mainColor);
    border: 1px solid #313131;
}
.message .img {
    width: 30%;
}
.message .item-information {
    width: 70%;
    font-size: 14px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
}
.message .item-information span {
    color: var(--subColor);
}
.message .item-information h5 {
    font-size: 14px;
}
.message .item-information h5 ,
.message .item-information p {
    margin: 0;
}